	html{
		
		height : 100%;
		overflow-x :hidden;
	}
	
	.regBg{			
			top:0;
			right:0;
			left:0;
			bottom:0;
			border :0;
		}
		
	
	.regHeader{
		position : fixed;
		width : 100%;
		height : 20%;
		z-index : 5;
		top : 0%;
		left : 0%;
		right:0%;	
		background: #009688;
	}

.allPage h3{
		color : #fff;
		top:0%;
	}
.bckGrnd
	{
			top:0;
			right:0;
			left:0;
			bottom:0;
			border :1;
			
	}
	
	.searchNav{
		background-color: #f1f1f1;
		 position : fixed;
		 top : 20%;
		 width:100%;
		 z-index:7;
		 height: 9%;
	}
	@media only screen and  (max-width: 1240px) {
		.searchNav input{
			top : 20.5%;
			
	}}
	
	.regBlock input{
		position : relative;
		top : 20.5%;
		text-align : center;
		color : #000;
		width : 50%;
		
	}
	@media only screen and  (max-width: 1240px) {
		.regBlock input{
			top : 20.5%;
			
	}}
	
	#myInput {
		  position : fixed;
		  left: 2%;
		  background-image: url(../images/searchicon.png);
		  background-position: 10px 10px;
		  background-repeat: no-repeat;
		  width: 73%;
		  font-size: 16px;
		  padding: 12px 20px 12px 40px;
		  border: 1px solid #009688;
		  margin-bottom: 12px;
		  z-index : 7;
		  
  
	}
.dropbtn {
  background-color:#009688;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
 
    border-radius: 25px;
}@media only screen and  (max-width: 1240px) {
		.dropbtn{
		font-size: 13px;
			
	}}

.dropdown {
  position: fixed;
  display: inline-block;
  top : 20.5%;
  z-index: 7;
  left: 75%;
}
@media only screen and  (max-width: 1240px) {
		.dropdown{
			top : 20.5%;
			
	}}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  
   border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}@media only screen and  (max-width: 1240px) {
		.dropdown-content{
		font-size: 12px;
		
	}}

.dropdown-content button {
  color: black;
  padding:2px 39px;
  text-decoration: none;
  display: block;
   font-size: 16px;
   border-radius: 25px;
   margin-top: 5px;
   background-color :#009688;
  color : white;
}@media only screen and  (max-width: 1240px) {
		.dropdown-content button{
		font-size: 12px;
		
	}}

.dropdown-content button:hover {background-color: #f1f1f1;color:black;}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
  color : #009688;
  border : 2px solid #009688;
}	
	
	
	.regBlock {
		position : relative;
		top : 200px;
		text-align : center;
		color : #000;
		
	}
	@media only screen and  (max-width: 1240px) {
		.regBlock {
			top : 200px;
			font-size : 20px;
			
	}}	

#myTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 90%;
  border: 1px solid #009688;
  font-size: 18px;
}		@media only screen and  (max-width: 1240px) {
		#myTable {
			
			  width: 100%;
			  padding-right : 1px;
			  padding-left : 5px;
	}}

#myTable th{
	color : #009688;
	background-color: #f1f1f1;
}
#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
   white-space : normal;
 }
 
 #myTable td a{
	 white-space : normal;
	 word-wrap : break-word;
 }

#myTable tr {
  border-bottom: 1px solid #009688;
  
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.download{
	width : 100;
	height : 132;
}
@media only screen and  (max-width: 1240px) {
		.download {
			
			  width: 60;
			  height : 40;
	}}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #009688;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.downPic{
		width : 30%;
			}
	@media only screen and  (max-width: 1240px) {
	.downPic{
		width : 50%;
		padding : 5px;
	}
	}
	
.picDesc{
	font-size : 1.0em;
	position : absolute;
	padding : 5px 15px;
	left : 0%;
	right:0%;	
}@media only screen and  (max-width: 1240px) {
	.picDesc{
	font-size : 0.9em;
	position : absolute;
	padding : 5px 15px 5px;
	}
	}
	