	html, body {
    height: 100%;
	}
	.bg{
			position:fixed;
			background: linear-gradient(#009688,#A5E5FF)!important;		
			/*background: linear-gradient(#009688,rgba(0,0,0,0))!important;*/
			top:0;
			right:0;
			left:0;
			bottom:0;
			border :1;
			
		}
		
	.wrapper{
			display : grid;
			gap: 10px;
			grid-template-rows: 100px 100vw;
			grid-template-columns: 110px 100vw;
	}
	
	.logo{
		width : 100px;
		position: fixed;
		top : 1%;
		left : 1%;	
	}
	@media only screen and (max-width: 700px) {
	.logo{
		width : 70px;
	}
	}
	
	.allPage{
		position : fixed;
		top : 33px;
		left: 40%;
		width : 500px;
		text-align : center;
		color : #fff;
		font-size: xx-large;
	}
	
	@media only screen and  (max-width: 1240px) {
	.allPage{
		font-size: xx-large;
		left: 280px;
	
	}
	}
	.allPage h3{position:fixed;top : 40px;}
	@media only screen and  (max-width: 1240px) {
		.allPage h3{top : 50px;}
	}
	.ammaPic{
		width : 50px;
		position: fixed;
		top : 0;
		left:30%;
		z-index : 6;
	}
	@media only screen and  (max-width: 1240px) {
	.ammaPic{
		top : 10px;
		width : 40px;
	}
	}
	
	
	.babaPic{
		width : 50px;
		position: fixed;
		top : 0;
		left:50%;
		z-index : 6;
	}
	@media only screen and  (max-width: 1240px) {
	.babaPic{
		top : 10px;
		width : 40px;
	}
	}
	
	.psaiPic{
		width : 50px;
		position: fixed;
		top : 0;
		left:55%;
		z-index : 6;
	}
	@media only screen and  (max-width: 1240px) {
	.psaiPic{
		top : 10px;
		width : 40px;
	}
	}
	.ammachiPic{
		width : 50px;
		position: fixed;
		top : 0;
		left:80%;
		z-index : 6;
	}
	@media only screen and  (max-width: 1240px) {
	.ammachiPic{
		top : 10px;
		width : 40px;
	}
	}
	
	#manuBtn{
		width: 1px;
		height: 1px;
		text-align: center;
		position: fixed;
		left: 25px;
		top: 25%;/*Yamini was 20*/
		border-radius: 3px;
		z-index: 8;
		cursor: pointer;
	}
	@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
	  #manuBtn{
		  top: 35%;
		  } 
	  }
	#manuBtn img{
		width: 20px;
		margin-top: 15px;
	}
	
	@media only screen and (max-width: 1200px){
	#manuBtn{
		top: 11%;
		left : 43px;
	}
	}
	@media only screen and (max-width: 1200px){
	#manuBtn img{
		width: 30px;
	}
	}
	
	.namakambtn {
		width: 19vw;
		position : fixed;
		top: 20%;/*Yamini was 20*/
		left : 5%;
		transition: 1s;
		cursor:pointer;
		z-index:7;
	}
	@media only screen  and (min-width: 320px) {
	.namakambtn{
		top: 15%;
		left : 5%;
		width: 25vw;
	}
	}
	
	@media only screen and (min-width: 1024px) {
	.namakambtn{
		top: 29%;
		left : 3%;
		width: 10vw;
	}
	}
	
	nav ul li{
		list-style: none;
		margin-top : 13px;
		
	}
	@media screen and (max-width: 1200px) { /*f0r phone*/
	nav ul li {
		margin-bottom: 3em;
	}
	}
	@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
	  nav ul li {
		margin-bottom:1em;
	}
  }
	nav ul li a{
		text-decoration: none;
		color: #fff;
		font-family : Tahoma;
		padding-left : 2%;
		font-size : 35px;
		
	}
	
	nav ul li a:hover{
		text-decoration: none;
		color: yellow;
	}
	
	
	@media only screen and (min-width: 1024px) {
	nav ul li a{
		font-size : 15px;
	}
	}
	@media only screen 
		and (min-device-width: 768px) 
		and (max-device-width: 1024px) 
		and (-webkit-min-device-pixel-ratio: 1) {
		nav ul li a{
		font-size: 25px;
		
		}
	}
	@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
	  nav ul li a{
		font-size: 20px;
		
		}

}
	.anu-space{
		position : relative;
		top:10%;
		/*added now*/
		left: 50%;
		width : 66vw;
		height : 100vh;
		z-index :1;
	}
	
	
	@media only screen  and (max-width: 700px) {
	.anu-space{
		top:170%;
		width: 70vw;
		left: 20px;
	}
	}
	
		
	@media only screen and (min-width: 200px) {
	.anu-space{
		top:190%;
		width: 80vw;
		left: 80px;/*Yamini was 0px*/
	}
	}
	@media only screen and (min-width:1025px) {
	.anu-space{
		left: 180px;
	}}
	/*.anu-space p{
		position : relative;
		left : 40px;
		color : red;
	}*/
	.top-nav{
		z-index: 5;
		
	}
	
	
	
	
	