*{
	margin :0;
	padding : 0;
	user-select : none;
	box-sizing : border-box;
	font-family : Poppins , sans-serif;
}

.stars {
  height: 50;
  color: gold;
  text-align: center;
  content: "★";
    font-size: 2em;
    text-shadow:
      -2em 0,
      -1em 0,
       1em 0,
       2em 0;
  
}

.btn{
	position: relative;
	top : 195px;
	left : 45px;
	height: 45px;
	width: 45px;
	text-align: center;
	/*background : #1b1b1b;*/
	background : #009B93;
	border-radius: 3px;
	cursor: pointer;
	transition: left 0.4s ease;
	z-index : 7;
}
@media  only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  .btn{
	top : 123px;
	
  }}
.btn.click{
	left : 460px;
}
@media  only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  .btn.click{
	left : 250px;
	
  }}
.btn span{
	color : white;
	font-size : 28px;
	line-height : 45px;
	top : 105px;
}
@media  only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  .btn span{
	right : 0px;
  }}

.btn.click span:before{
	content: '\f00d';
}

.sidebar{
	position: fixed;
	top : 125px;
	width : 450px;
	height: 100%;
	left: -450px;
	/*background : #1b1b1b;*/
	background : #009B93;
	transition: left 0.4s ease;
	overflow:auto;
	white-space: nowrap;
	z-index : 7;
}
@media  only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  .sidebar{
	  width : 250px;
	  height: 100%;
  }}

.sidebar.show{
	left: 0px;
}
.sidebar .text{
	color : white;
	font-size : 25px;
	font-weight : 600;
	line-height : 65px;
	text-align : center;
	background :#1e1e1e;
	letter-spacing : 1px;
}
@media  only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  .sidebar .text{
	  font-size : 15px;
  }}
nav ul{
	background : #009B93;
	width : 100%;
	list-style : none;
}

nav ul li{
	line-height : 60px;
	border-bottom : 1px solid rgba(255,255,255,0.1);
	}@media  only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  nav ul li{line-height : 30px;}}
	
	nav ul li:last-child{
		border-bottom: 1px solid green;
	}
nav ul li a{
	position : relative;
	color : white;
	text-decoration : none;
	font-size : 18px;
	padding-left : 40px;
	font-weight : 500;
	display : block;
	width : 100%;
	border-left : 3px solid transparent;
}

nav ul li a:hover{
color : cyan;
background : #1e1e1e;
border-left-color : cyan;
}


nav ul li.active a{
color : cyan;
background : #1e1e1e;
border-left-color : cyan;
}
nav ul ul {
	position : static;
	display : none;

}
nav ul .lang-show{
	display:none;
}
nav ul .lang-show.show{
	display:block;
}
nav ul .text-show.show1{
	display:block;
}
nav ul .lear-show.show2{
	display:block;
}
nav ul .anu-show{
	display:block;
}

nav ul .anu-show.show3{
	display:none;
}
nav ul ul li{
	line-height : 42px;
	border-bottom : none;
}



nav ul ul li a{
	font-size : 17 px;
	color : #e6e6e6;
	padding-left : 80px;
}
nav ul li.active ul li a{
color :  #e6e6e6;
background : #009B93;
border-left-color : transparent;
}

nav ul ul li a:hover{
	color: cyan!important;
	background: #1e1e1e!important;
}

nav ul li a span{
	position : absolute;
	top: 50%;
	right : 50px;
transform : translateY(-50%);
font-size : 22px;
	color : white;
	transition : transform 0.4s;
}

nav ul li a span.rotate{

	transform : translateY(-50%) rotate(-180deg);
}
.audioButton{
	position : fixed;
	top:120px;
	right : 0px;
	z-index : 6;
}

.aud-btn{
	 background-color: #009688;
	border: 2px solid black;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	border-radius: 30px;
	
}
@media  only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
	 .aud-btn{ 
	 font-size: 15px;
	 border-radius: 10px;
	 height: 1px;
	 text-align: justify;
	 padding: 15px 22px;
  }}
.aud-btn:hover{
	color: black;
	background-color: white;
}

.aud-btn:active{
	color: black;
	background-color: white;
}

	::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #009688; 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 /* background: #009666	; */
 background : #fff;
}
